{{ $id := delimit (slice "gallery" (partial "functions/uid.html" .)) "-" -}}
{{ $content := .Inner -}}

{{/* Resolve every gallery image to its original resource for sharp zooming. */}}
{{ range findRE `<img\s+[^>]*>` $content -}}
  {{ $imgTag := . -}}
  {{ with findRESubmatch `src=['"]([^'"]+)['"]` $imgTag -}}
    {{ $srcAttr := index (index . 0) 0 -}}
    {{ $srcValue := index (index . 0) 1 -}}
    {{ $originalURL := $srcValue -}}

    {{ if or (hasPrefix $srcValue "http://") (hasPrefix $srcValue "https://") -}}
      {{ with resources.GetRemote $srcValue -}}{{ $originalURL = .RelPermalink -}}{{ end -}}
    {{ else -}}
      {{ with $.Page.Resources.GetMatch $srcValue -}}
        {{ $originalURL = .RelPermalink -}}
      {{ else -}}
        {{ with resources.GetMatch $srcValue -}}{{ $originalURL = .RelPermalink -}}{{ end -}}
      {{ end -}}
    {{ end -}}

    {{ $newAttrs := printf `src="%s" data-zoom-src="%s"` $originalURL $originalURL -}}
    {{ $newTag := replace $imgTag $srcAttr $newAttrs -}}
    {{ $content = replace $content $imgTag $newTag -}}
  {{ end -}}
{{ end -}}

{{ if not .Parent }}<div class="width-patch"></div>{{ end }}
<div id="{{- $id -}}" class="gallery">
  {{ $content | safeHTML -}}
</div>
